{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG</title>
</head>
<body>
<h2>This is blogs page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto assumenda consectetur, deleniti dolore dolorum ea earum est expedita facilis ipsam minima, odit praesentium qui quidem saepe sapiente tempore? Cumque.</p>
<img src="{% static 'images/img5.png' %}" alt="">
</body>
</html>