{% load static %}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>This is our work</h2>
<p>we are committed to empowering young people to lead healthy, fulfilling lives through holistic wellness programs. We believe that nurturing mental, physical, and emotional well-being is essential for personal and community growth. Our initiatives focus on providing accessible resources, mentorship, and educational workshops that inspire positive lifestyle choices and resilience. By collaborating with experts, community leaders, and educators, we create a supportive environment where youth can thrive. Together, we aim to build a generation of empowered, health-conscious individuals ready to make a positive impact in their communities and beyond</p>
<img src="{% static 'images/img_1.png' %}" alt="">
</body>
</html>